@{
    Customer customer;
    if (ViewData["Customer"] != null)
        customer = (Customer)ViewData["Customer"];
    else
    {
        customer = new();
        customer.Email = "Guest";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Airsoft Webshop</title>
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom px-3">
        <a class="navbar-brand" asp-action="Index" >Airsoft Webshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" asp-action="Logout" data-toggle="tooltip" title="Log out">Welcome @customer.Email!</a>
                <a class="nav-item nav-link" asp-action="Index">Home</a>
                <a class="nav-item nav-link" asp-action="Shop">Shop</a>
                <a class="nav-item nav-link" asp-action="About">About Us</a>
                <a class="nav-item nav-link" asp-action="Contact">Contact</a>
                @if(customer.Email == "Guest")
                {
                    <a class="nav-item nav-link" asp-action="Login">Login</a>
                }  
                @if (customer.Role == "Admin")
                {
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" role="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Actions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" asp-action="Summary">Order Summary</a>
                        <a class="dropdown-item" asp-action="OrderAdmin">Edit Orders</a>
                        <a class="dropdown-item" asp-action="ProductsAdmin">Edit Items</a>
                        <a class="dropdown-item" asp-action="Verify">Members</a>
                    </div>
                </div>
                }
                @if (customer.Role == "Employee")
                {
                    <a class="nav-item nav-link border-start" asp-action="Summary">Order Summary</a>
                }
            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
